/* Add hover effects for each appointment status */
.text-yellow-700:hover {
    background-color: #ffed4a; /* Yellow background on hover */
    color: #444; /* Darker text color on hover */
  }
  
  .text-green-700:hover {
    background-color: #48bb78; /* Green background on hover */
    color: #fff; /* White text color on hover */
  }
  
  .text-blue-700:hover {
    background-color: #4299e1; /* Blue background on hover */
    color: #fff; /* White text color on hover */
  }
  
  .text-red-700:hover {
    background-color: #f56565; /* Red background on hover */
    color: #fff; /* White text color on hover */
  }
  span {
    display: block;
  }
  .custom-dialog {
    width: 400px; /* Adjust width as needed */
    border-radius: 10px;
  }
  
  .dialog-content {
    padding: 20px;
  }
  
  .custom-dialog {
    max-width: 400px; /* Adjust width as needed */
  }
  
  .dialog-content {
    padding: 20px;
  }
  
  p-footer {
    margin-top: 20px;
    text-align: right;
  }
  
  p-footer button {
    margin-left: 10px;
  }

.btn-cancel {
  padding: 10px;
  background-color: #3490dc; /* Blue color */
  color: #fff; /* White text color */
}

.btn-confirm {
  padding: 10px;
  background-color: #e53e3e; /* Red color */
  color: #fff; /* White text color */
}
