<div class="w-full bg-gray-50 h-screen overflow-y-auto p-8 right-0">
  <div class="flex items-center justify-between">
      <p tabindex="0" class="focus:outline-none text-2xl font-semibold leading-6 text-gray-800">Notifications</p>
      <button role="button" aria-label="close modal" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md cursor-pointer">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 6L6 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M6 6L18 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
      </button>
  </div>

  <div *ngFor="let group of groupNotificationsByDay() | keyvalue">
    <h2 tabindex="0" class="focus:outline-none text-sm leading-normal pt-8 border-b pb-2 border-gray-300 text-gray-600">{{ group.key }}</h2>
    <div *ngFor="let notification of group.value" class="w-full p-3 mt-8 bg-white rounded flex">
      <div tabindex="0" aria-label="heart icon" role="img" class="focus:outline-none w-10 h-10 border rounded-full border-gray-200 flex items-center justify-center">
        <i class="fa-solid fa-bell fa-shake fa-lg" style="color: #2d73eb;"></i>
      </div>
      <div class="pl-3">
        <p tabindex="0" class="focus:outline-none text-sm leading-none">
            <span class="text-indigo-700">{{ notification.sender.firstName }} {{ notification.sender.lastName }}</span> {{ notification.title }}
        </p>
        <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">{{ notification.message }}</p>
        <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">{{ notification.createdAt | date: 'short' }}</p>
    </div>
    
    </div>
  </div>
  
  <div class="flex items-center justiyf-between">
      <hr class="w-full">
      <p tabindex="0" class="focus:outline-none text-sm flex flex-shrink-0 leading-normal px-3 py-16 text-gray-500">Thats it for now :)</p>
      <hr class="w-full">
  </div>
</div>