<div class=" bg-white shadow-md mx-0 my-0 mb-15 p-7 rounded-lg">
  <ul class="flex items-center justify-between flex-wrap">
      
        <ng-container *ngIf="userType === 'doctor'; else userTemplate">
          <li class="min-w-150 mb-4">
          <div class="flex items-center">
            <div class="w-12 h-12 bg-cover rounded-lg"
            [style.background-image]="'url(' + appoinmentDetails.user[0].profilePic + ')'">
            </div>
            <div class="leading-none ml-5 flex flex-col justify-around">
                <div class="tracking-wide font-bold">{{appoinmentDetails.user[0].firstName}} {{appoinmentDetails.user[0].lastName}}</div>
                <div class="text-xs text-gray-600">{{appoinmentDetails.user[0].email}}</div>
            </div>
        </div>
         </li>
        </ng-container>
        <ng-template #userTemplate>
          <li class="min-w-150 mb-4">
            <div class="flex items-center">
              <div class="w-12 h-12 bg-cover rounded-lg"
              [style.background-image]="'url(' + appoinmentDetails.doctorInfo[0].profilePic + ')'">
              </div>
              <div class="leading-none ml-5 flex flex-col justify-around">
                  <div class="tracking-wide font-bold">{{appoinmentDetails.doctorInfo[0].firstName}} {{appoinmentDetails.doctorInfo[0].lastName}}</div>
                  <div class="text-xs text-gray-600">{{appoinmentDetails.doctorInfo[0].email}}</div>
              </div>
          </div>
           </li>
        </ng-template>
         

      <li class="min-w-190 mb-4">
          <div class="leading-none flex flex-col justify-center">
              <div class="font-bold text-sm">{{ appoinmentDetails.date | date: 'EEE, dd MMM yyyy' }} {{ appoinmentDetails.slot }} </div>
              <div class="mt-2 text-xs text-gray-900 font-semibold">Consultation Type: {{ appoinmentDetails.typeOfAppointment | titlecase}} </div>
              <div class="mt-2 text-xs text-gray-900 font-semibold">Amount Paid: {{ appoinmentDetails.amount}}.00 </div>
          </div>
      </li>
      <li class="min-w-190 mb-4">
          <div class="leading-none flex flex-col justify-center">
            <ng-container *ngIf="userType === 'doctor'; else useremailTemplate">
              <div class="font-bold text-sm">{{appoinmentDetails.user[0].email}}</div>
              </ng-container>
              <ng-template #useremailTemplate>
                <div class="font-bold text-sm">{{appoinmentDetails.doctorInfo[0].email}}</div>
              </ng-template>
              <div *ngIf="userType === 'doctor'" class="mt-2 text-xs text-gray-600">DoB:  {{appoinmentDetails.user[0].dateOfBirth| date: 'EEE, dd MMM yyyy'  }}</div>
              <div *ngIf="userType === 'user'" class="mt-2 text-xs text-gray-600">Location:  {{appoinmentDetails.doctorInfo[0].address.zipcode }} {{appoinmentDetails.doctorInfo[0].address.city }} {{appoinmentDetails.doctorInfo[0].address.country }}</div>
              
          </div>
      </li>
      <li class="min-w-190 mb-4">
          <div class="text-xl text-gray-400">
            <ul class="flex gap-3 space-x-2">
                
                <li>
                  <a class="text-green-500 hover:text-green-700" title="Chat">
                    <i class="far fa-comments"></i>
                  </a>
                </li>
                <li>
                  <a class="text-red-500 hover:text-red-700" title="Cancel Appointment">
                    <i class="far fa-times-circle"></i>
                  </a>
                </li>
              </ul>
              
              
          </div>
      </li>

      
      
  </ul>
  <div>
    <div class="">
      <ng-container *ngIf="userType === 'user';else doctorTemplate">
      <!-- <div *ngIf="appoinmentDetails.paymentStatus === 'Paid' && appoinmentDetails.status === 'Pending'" class="cursor-pointer  text-center px-4 py-2 text-xs font-bold rounded bg-yellow-200 text-yellow-700 hover:bg-yellow-300 hover:text-yellow-800">
        Accept Appointment
      </div>
      <div *ngIf="appoinmentDetails.status === 'Scheduled' && appoinmentDetails.paymentStatus === 'Pending'" class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-green-200 text-green-700 hover:bg-green-300 hover:text-green-800">
        Confirm Appointment
      </div>
      <div *ngIf="appoinmentDetails.status === 'Completed'" class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-blue-200 text-blue-700 hover:bg-blue-300 hover:text-blue-800">
        Appointment Completed
      </div>
      <div *ngIf="appoinmentDetails.status === 'Cancelled'" class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-red-200 text-red-700 hover:bg-red-300 hover:text-red-800">
        Appointment Cancelled
      </div>
      <div *ngIf="appoinmentDetails.paymentStatus === 'Pending'" class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-red-200 text-red-700 hover:bg-red-300 hover:text-red-800">
        Not Paid
      </div> -->
      <div aria-disabled="true" *ngIf="appoinmentDetails.paymentStatus === 'Paid' && appoinmentDetails.status === 'Cancelled'"
      class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-yellow-400 text-white hover:bg-yellow-600">
      <span class="block">Your Appointment is Rejected by Doctor</span>
      <span class="block">Your payent will Refund shortly</span>
    </div>
      <div (click)="changeStatus()" *ngIf="appoinmentDetails.paymentStatus === 'Paid' && appoinmentDetails.status === 'Pending' " class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-green-400 text-white hover:bg-green-600 ">
        <i class="far fa-eye mr-3"></i> Cancel Your Appoinment
      </div>
      <div *ngIf="appoinmentDetails.paymentStatus === 'Paid' && appoinmentDetails.status === 'Scheduled'"
      class="text-center">
 
   <!-- Countdown Timer Section -->
 
   <!-- Cancel Appointment Button Section -->
   <div (click)="changeStatus()"
   [ngClass]="{'pointer-events-none': isSessionEnded(appoinmentDetails.date, appoinmentDetails.slot)}"
   class="cursor-pointer px-4 py-2 text-xs font-bold rounded bg-red-400 text-white hover:bg-red-600">
     <span class="block">Your Appointment is Confirmed</span>
     <span class="block">If you want to cancel, click here!</span>
     <span class="block">Session starts in: {{ calculateTimeRemaining(appoinmentDetails.date, appoinmentDetails.slot) }} </span>
   </div>
 </div>
 
    <div aria-disabled="true" *ngIf="appoinmentDetails.paymentStatus === 'Paid' && appoinmentDetails.status === 'Rejected'"
    class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-yellow-400 text-white hover:bg-yellow-600">
    <span class="block">Your Appointment is Rejected by Doctor</span>
    <span class="block">Your payent will Refund shortly</span>
  </div>
      <div [routerLink]="'/checkout/'+appoinmentDetails._id"  *ngIf="appoinmentDetails.paymentStatus !== 'Paid'" class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-blue-400 text-white hover:bg-blue-600 ">
        click here to make Payment 
      </div>
    </ng-container>

    <ng-template  #doctorTemplate>
      <div (click)="viewUserProfile()"  class="cursor-pointer text-center px-4 py-2 text-xs font-bold rounded bg-blue-400 text-white hover:bg-blue-600 ">
        <i class="far fa-eye mr-3"></i> Click here to view
      </div>
    </ng-template>
      <!-- Add more conditions for other status and payment combinations -->
    </div>
    
  </div>
</div>

<p-toast></p-toast>
<p-confirmDialog #cd icon="pi pi-exclamation-triangle" [styleClass]="'bg-red-500 shadow-md rounded-lg'" key="positionDialog" [position]="position">
  <p-footer>
    <button type="button" (click)="cd.reject()"
      pButton icon="pi pi-times" label="Cancel" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-md shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50"></button>
    <button type="button" pButton icon="pi pi-check" label="Confirm" 
      (click)="cd.accept()" class="ms-2 bg-red-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"></button>
  </p-footer>
  <!-- Indication message -->
  <div class="text-center text-red-600 mt-4">
    <p>This action cannot be undone.</p>
  </div>
</p-confirmDialog>
