
<app-progressive-bar *ngIf="currentStep<=3" [currentStep]="currentStep"></app-progressive-bar>

<div [hidden]="false">
    <div class="mx-auto max-w-7xl  pb-10">
        <div class="mt-2 mb-7"  *ngIf="currentStep === 1">
            <!-- Step 1: Registration Info -->
            <app-doctor-register-2  (formValidityChange)="handleFormValidityChange($event)"></app-doctor-register-2>
        </div>

        <div class="mt-2 mb-7" *ngIf="currentStep === 2">
            <!-- Step 2: Additional Info -->
            <app-doctor-register-3 (formValidityChange)="handleFormValidityChange($event)"></app-doctor-register-3>
        </div>

        <div class="fixed bottom-0 left-0 right-0 py-5 bg-white shadow-md"  *ngIf="currentStep <4">
            <div class="max-w-3xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="w-1/2">
            <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
            [disabled]="currentStep === 1" (click)="prevStep()">Previous</button>
            </div>
            <div class="w-1/2 text-right">
                <button *ngIf="!isLoading"
                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
                        (click)="nextStep()">Next</button>
                <button *ngIf="isLoading"
                        class="bg-blue-500  text-white font-bold py-2 px-4 rounded-lg opacity-50 cursor-not-allowed"
                        disabled>
                        Loading...</button>
                <button *ngIf="currentStep === 2 && !isLoading"
                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
                        (click)="Complete()">Complete</button>
              </div>
        </div>
    </div>
    </div>


            <div  *ngIf="isLastStep()" >
				<div class="bg-white rounded-lg p-10 flex items-center justify-center shadow ">
					<div>
						<svg class="mb-4 h-20 w-20 text-green-500 mx-auto" viewBox="0 0 20 20" fill="currentColor">  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>

						<h2 class="text-2xl mb-4 text-gray-800 text-center font-bold">Registration Success</h2>

						<div class="text-gray-600 mb-8">
							Thank you. We have sent you an email to deo.test. Please click the link in the message to activate your account.
						</div>

						<button
							[routerLink]="'/doctor/login'"
							class="w-40 block mx-auto focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border" 
						>Back to home</button>
					</div>
				</div>
			</div>


        
    </div>
</div>
