<ng-container *ngIf="isAuthenticated(); else notAuthenticated">
  <div class="flex min-h-screen">
    <!-- Sidebar -->
    <aside class="bg-gray-900 text-white h-screen w-auto fixed">
      <app-user-sidebar></app-user-sidebar>
    </aside>

    <!-- Main container -->
    <div class="flex flex-col flex-1 lg:ml-48 ml-20 shadow-lg">
      <!-- Header -->
      <app-header-component class="m-1"></app-header-component>

      <!-- Main content area -->
      <main class="flex-1 p-1 overflow-y-auto">
        <router-outlet></router-outlet>
      </main>

      <!-- Footer -->
    </div>
  </div>

  <app-notification-popup
    *ngIf="showNotification"
    [title]="notificationTitle"
    [message]="notificationMessage"
    (closed)="closeNotificationPopup()"
  ></app-notification-popup>
</ng-container>

<ng-template #notAuthenticated>
  <div class="flex min-h-screen">
    <div class="flex flex-col flex-1 shadow-lg">
      <app-header-component></app-header-component>
      <main class="flex-1 overflow-y-auto">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</ng-template>
