
    <div class="container mx-auto p-2 flex justify-between items-center border-emerald-200 ">
        <div class="flex gap-2 items-center">
            <!-- <span class="px-2 py-1 cursor-pointer hover:bg-gray-200 hover:text-gray-700 text-sm rounded mb-5">
                <i class="w-8 fas fa-stream p-2 bg-gray-200 rounded-full"></i>
                <span class="mx-1">categories</span>
            </span> -->
            <!-- <span class="px-1  cursor-pointer hover:bg-gray-200 hover:text-gray-700 text-sm rounded mb-5">
                <i class="w-8 fas fa-th p-2 bg-gray-200 rounded-full"></i>
            </span> -->
            <span class="px-1 cursor-pointer hover:text-gray-700">
                <i class="w-8  fas fa-search p-2 bg-gray-200 rounded-full"></i>
            </span>
            <span class="px-1 cursor-pointer hover:text-gray-700">
                <i class="w-8 fas fa-calendar-alt p-2 bg-gray-200 rounded-full"></i>
            </span>
        </div>
        <div class="flex gap-3 items-center">
            <span class="relative cursor-pointer hover:text-gray-700">
                <i class="w-8 fas fa-bell p-2 bg-gray-200 rounded-full"></i>
                <span class="absolute top-0 right-0 -mt-2 -mr-1 text-xs bg-red-500 text-white font-medium px-2 shadow-lg rounded-full">3</span>
            </span>
            <span class="relative cursor-pointer hover:text-gray-700">
                <i class="w-8 fas fa-user p-2 bg-gray-200 rounded-full"></i>
                <span class="absolute top-0 right-0 -mt-1 -mr-1 text-xs bg-yellow-500 text-black font-medium px-2 rounded-full">3</span>
            </span>
        </div>
    </div>

