<p-dialog  [(visible)]="visible" [modal]="true" [style]="{ 'width': '40vw', 'max-width': '1195px', 'min-width': '688px', }" [styleClass]="'custom-dialog'">
  <ng-template  pTemplate="headless">
    <!-- Content -->
    <div class="w-full bg-white shadow-lg rounded-lg">
      <!-- Header -->
      <div class="w-full px-3 py-1 bg-black text-white flex justify-between items-center">
        <button (click)="visible=false" >Cancel</button>
        <h2 class="text-xl font-bold">Edit Info</h2>
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
        <button *ngIf="!isLoading" class="text-blue-500" (click)="onUpdateSubmit()" >Done</button>
      </div>
      
      <!-- Main Content -->
      <div class="flex justify-between">
        <!-- Left side (image) -->
        <div class="w-1/2">
          <app-post-carousel class="h-full" *ngIf="post.media && post.media.length > 0" [slides]="post.media"></app-post-carousel>
         </div>
        
        <!-- Right side (details) -->
        <div class="w-1/2 flex flex-col">
          <!-- Top row -->
          <div class="flex-gro p-4">
            <div class="flex gap-1">
              <div>
                 <img class="h-8 w-8 rounded-full" src={{post.doctorId.profilePic}}/>
              </div>
              <div>
                  <span class="text-sm font-semibold antialiased block leading-tight">{{post.doctorId.firstName}}</span>
                  <span class="text-gray-600 text-xs block">Asheville, North Carolina</span>
              </div>
            </div>
          </div>
    
          <!-- Center row -->
          <div class="flex-grow-2 p-4">
            <form [formGroup]="editPostForm">
              <div class="mb-6">
                <label for="title" class="block text-gray-700 font-bold mb-2">Title</label>
                <input type="text" id="title" formControlName="title" class="w-full text-sm px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
                <div *ngIf="f['title'].errors && (f['title'].dirty || f['title'].touched)" class="text-red-500 text-xs mt-1">
                  <div *ngIf="f['title'].errors['required']">Title is required</div>
                  <div *ngIf="f['title'].errors['minlength']">Title must be at least 3 characters long</div>
                </div>
              </div>
              <div class="mb-6">
                <label for="content" class="block text-gray-700 font-bold mb-2">Content</label>
                <textarea id="content" formControlName="content" rows="4" 
                class="w-full px-3 py-2 border rounded-md focus:outline-none 
                       focus:border-blue-500 resize-none text-sm text-gray-800 
                       placeholder-gray-400 bg-gray-100 
                       focus:ring-2 focus:ring-blue-200"
                placeholder="Enter your content here..."></textarea>
              <div *ngIf="f['content'].errors && (f['content'].dirty || f['content'].touched)" class="text-red-500 text-xs mt-1">
                  <div *ngIf="f['content'].errors['required']">Content is required</div>
                  <div *ngIf="f['content'].errors['minlength']">Content must be at least 3 characters long</div>
                </div>
              </div>
              <div class="mb-6">
                <label for="tags" class="block text-gray-700 font-bold mb-2">Tags</label>
                <input type="text" id="tags" formControlName="tags" class="w-full text-sm px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
              </div>
          
            </form>
          </div>
          
          
    
          <!-- Bottom row -->
          <div class="flex-grow p-4">
            <!-- Add your content here -->
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
