

  <div *ngIf="intertestedDoctors && intertestedDoctors.doctorsInfo && intertestedDoctors.doctorsInfo.length>0;else nouserIntersets" class="bg-white rounded-lg  overflow-hidden">
    <div class="px-6 py-4 ">
      <h2 class="text-lg font-semibold text-gray-800">Favorite Doctors</h2>
    </div>
    <div class="grid grid-cols-2 gap-4">
    
      <!-- Doctor 2 -->
      <div *ngFor="let doctor of intertestedDoctors.doctorsInfo" class="relative flex flex-col bg-gray-100 rounded-lg shadow-md p-4">
        <button  (click)="removeInterest(doctor._id)"  class="absolute top-2 right-3 text-red-500 hover:text-red-700 focus:outline-none">
        <svg class="h-6 w-6" fill="red" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21.484l-1.629-1.483C5.29 15.346 2 12.256 2 8.5 2 5.42 4.42 3 7.5 3c1.928 0 3.778.94 4.5 2.5.722-1.56 2.572-2.5 4.5-2.5 3.08 0 5.5 2.42 5.5 5.5 0 3.756-3.29 6.846-8.371 11.5L12 21.484z"></path>
        </svg>
      </button>
  
        <div>
          <img class="h-32 w-32 rounded-full object-cover mx-auto"  [src]="doctor.profilePic"   alt="Doctor 2">
          <div class="mt-4 text-center">
            <p class="text-lg font-semibold text-gray-800">Dr.{{doctor.firstName | titlecase}} {{doctor.lastName}}</p>
            <p class="text-sm text-gray-600">Psychatrist</p>
          </div>
        </div>
         <div class="flex justify-between mt-auto">
            <button [routerLink]="['/book-appoinment', doctor._id]"  class="flex-1 rounded-full bg-blue-600 dark:bg-blue-800 text-white font-semibold hover:bg-blue-700 dark:hover:bg-blue-900 px-3 py-1 text-sm">
              Book Now
            </button>
            <button  [routerLink]="['/get-doctor', doctor._id]"   class="flex-1 rounded-full border-2 border-gray-400 dark:border-gray-700 text-gray-800 dark:text-blue-800 font-semibold hover:bg-gray-200 dark:hover:bg-gray-600 ml-1 px-3 py-1 text-sm">
               See Profile
            </button>
          </div>
  
       
      </div>
      
      <!-- Add more doctor cards for other favorite doctors -->
    </div>
  </div>

  <ng-template #nouserIntersets>
    <div class="flex flex-col items-center justify-center h-64 bg-gradient-to-r from-blue-100 to-blue-200 shadow-lg rounded-lg p-6">
      <svg class="h-12 w-12 text-blue-500 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <p class="text-xl font-bold text-gray-800">No favorite doctors yet!</p>
      <p class="mt-2 text-gray-700">Click the heart icon next to a doctor to add them to your favorites.</p>
      <button  [routerLink]="'/find-doctors'" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700 focus:outline-none">Find Doctors</button>
    </div>
  </ng-template>
  
  