<div class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="w-full max-w-sm p-4 mx-auto bg-white rounded-lg shadow-lg">
    <div class="h-32 bg-gray-300 rounded-lg skeleton"></div>
    <div class="mt-4">
      <div class="h-4 bg-gray-300 rounded skeleton"></div>
      <div class="mt-2 h-4 bg-gray-300 rounded skeleton w-3/4"></div>
      <div class="mt-2 h-4 bg-gray-300 rounded skeleton w-1/2"></div>
    </div>
    <div class="mt-4 flex space-x-4">
      <div class="h-4 bg-gray-300 rounded skeleton w-1/4"></div>
      <div class="h-4 bg-gray-300 rounded skeleton w-1/4"></div>
      <div class="h-4 bg-gray-300 rounded skeleton w-1/4"></div>
    </div>
    <div class="mt-4">
      <div class="h-8 bg-gray-300 rounded skeleton w-full"></div>
    </div>
  </div>
</div>
