<div class="container mx-auto p-8">
  <!-- Heading -->
  <div class="flex flex-col lg:flex-row justify-between items-center mb-6">
    <h1 class="text-3xl sm:text-lg font-semibold">Medical Records</h1>

    <!-- Tabs -->
    <div class="space-x-4 flex-shrink-0">
      <button
        (click)="changeSection('MedicalRecords')"
        [ngClass]="{
          'bg-sky-500 text-white': section === 'MedicalRecords',
          'bg-gray-200 text-gray-800 ': section !== 'MedicalRecords'
        }"
        class="px-4 py-2 text-sm rounded-md focus:outline-none"
      >
        Medical Records
      </button>
      <button
        (click)="changeSection('Prescriptions')"
        [ngClass]="{
          'bg-sky-500 text-white': section === 'Prescriptions',
          'bg-gray-200 text-gray-800': section !== 'Prescriptions'
        }"
        class="px-4 py-2 text-sm rounded-md focus:outline-none"
      >
        Prescriptions
      </button>
    </div>
  </div>

  <!-- Search and Add Medical Record -->
  <div class="flex flex-col sm:flex-row justify-between items-center mb-6">
    <!-- Search -->
    <!-- <div class="flex items-center mb-4 sm:mb-0">
   <input type="text" placeholder="Search Medical Records" class="px-3 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
    <button class="ml-2 px-4 py-2 text-sm text-white bg-sky-500 rounded-md focus:outline-none hover:bg-sky-600">Search</button>
  </div> -->
    <!-- Add Medical Record -->
    @if(section==='MedicalRecords'){
    <button
      class="px-4 py-2 text-sm text-white bg-sky-500 rounded-md focus:outline-none hover:bg-sky-600"
      (click)="openUploadModal()"
    >
      Add Medical Record
    </button>
    }
  </div>

  <!-- Medical Records Table -->
  @if(section==='MedicalRecords'){
  <div class="overflow-x-auto">
    <div class="w-full min-w-[500px] rounded-lg border-1 border-gray-700">
      <ng-container *ngIf="medicalRecords.length > 0; else noRecordsTemplate">
        <table
          class="min-w-full divide-y border-1 rounded-lg border-gray-700 divide-gray-200 dark:divide-gray-700"
        >
          <thead class="bg-gray-50 dark:bg-gray-300">
            <tr>
              <th
                scope="col"
                class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
              >
                <div class="flex items-center gap-x-3">
                  <button class="flex items-center gap-x-2">
                    <span>M-ID</span>
                    <svg
                      class="h-3"
                      viewBox="0 0 10 11"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                        fill="currentColor"
                        stroke="currentColor"
                        stroke-width="0.1"
                      />
                      <path
                        d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                        fill="currentColor"
                        stroke="currentColor"
                        stroke-width="0.1"
                      />
                      <path
                        d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                        fill="currentColor"
                        stroke="currentColor"
                        stroke-width="0.3"
                      />
                    </svg>
                  </button>
                </div>
              </th>
              <th
                scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
              >
                Preview
              </th>
              <th
                scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
              >
                Date
              </th>

              <th
                scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
              >
                Title
              </th>

              <th
                scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
              >
                Description
              </th>

              <th
                scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
              >
                Actions
              </th>

              <th scope="col" class="relative py-3.5 px-4">
                <span class="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody
            class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-white"
          >
            <tr *ngFor="let record of medicalRecords">
              <td
                class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-700 whitespace-nowrap"
              >
                <div class="inline-flex items-center gap-x-3">
                  <span>{{ record.mId }}</span>
                </div>
              </td>
              <td
                class="px-4 py-4 text-sm text-gray-700 dark:text-gray-700 whitespace-nowrap"
              >
                <p-image
                  [src]="record.fileUrl"
                  alt="Image"
                  width="50"
                  [preview]="true"
                />
              </td>
              <td
                class="px-4 py-4 text-sm text-gray-700 dark:text-gray-700 whitespace-nowrap"
              >
                {{ record.createdAt | date }}
              </td>
              <td
                class="px-4 py-4 text-sm text-gray-700 dark:text-gray-700 whitespace-nowrap"
              >
                {{ record.title }}
              </td>
              <td class="px-4 py-4 text-sm whitespace-nowrap">
                <div class="flex items-center gap-x-6">
                  <button
                    class="text-gray-500 transition-colors duration-200 dark:hover:text-indigo-500 dark:text-gray-700 hover:text-indigo-500 focus:outline-none"
                  >
                    {{ record.description }}
                  </button>
                </div>
              </td>
              <td>
                <!-- space-x-2 -->
                <div class="flex justify-center items-center">
                  <button
                    class="focus:outline-none"
                    (click)="deleteRecord(record._id)"
                  >
                    <i
                      class="far fa-trash-alt text-red-500 hover:text-red-700 text-xl"
                    ></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
  }@else {
  <div class="overflow-x-auto">
    <div class="w-full min-w-[500px] rounded-lg border-1 border-gray-700">
      <table
        class="min-w-full divide-y border-1 rounded-lg border-gray-700 divide-gray-200 dark:divide-gray-700"
      >
        <thead class="bg-gray-50 dark:bg-gray-300">
          <tr>
            <th
              scope="col"
              class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
            >
              <div class="flex items-center gap-x-3">
                <button class="flex items-center gap-x-2">
                  <span>S.No</span>
                  <svg
                    class="h-3"
                    viewBox="0 0 10 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="0.1"
                    />
                    <path
                      d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="0.1"
                    />
                    <path
                      d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="0.3"
                    />
                  </svg>
                </button>
              </div>
            </th>
            <th
              scope="col"
              class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
            >
              Date
            </th>
            <th
              scope="col"
              class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
            >
              Preview
            </th>
            <th
              scope="col"
              class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
            >
              Doctor
            </th>

            <th
              scope="col"
              class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
            >
              Title
            </th>

            <th
              scope="col"
              class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-900 dark:text-gray-900"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody
          class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-white"
        >
          <ng-container
            *ngFor="let prescription of appoinmentDetails; let i = index"
          >
            <tr *ngIf="prescription.prescription">
              <td
                class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-700 whitespace-nowrap"
              >
                <div class="inline-flex items-center gap-x-3">
                  <span>{{ i }}</span>
                </div>
              </td>
              <td
                class="px-4 py-4 text-sm text-gray-700 dark:text-gray-700 whitespace-nowrap"
              >
                {{ prescription.date | date : "mm/dd/yy" }}
              </td>
              <td
                class="px-4 py-4 text-sm text-gray-700 dark:text-gray-700 whitespace-nowrap"
              >
                <p-image
                  [src]="prescription.prescription.file"
                  alt="Prescription Image"
                  width="50"
                  [preview]="true"
                ></p-image>
              </td>
              <td
                class="px-4 py-4 text-sm text-gray-700 dark:text-gray-700 flex items-center"
              >
                <p-image
                  class="rounded-full mr-2"
                  [src]="prescription.doctor.profilePic"
                  alt="Doctor Image"
                  width="50"
                  [preview]="true"
                ></p-image>
                <span
                  >{{ prescription.doctor.firstName }}
                  {{ prescription.doctor.lastName }}</span
                >
              </td>

              <td
                class="px-4 py-4 text-sm text-gray-700 dark:text-gray-700 whitespace-nowrap"
              >
                {{ prescription.prescription.title }}
              </td>
              <td class="px-4 py-4">
                <div class="flex justify-center items-center">
                  <button class="focus:outline-none">
                    <i
                      class="far fa-trash-alt text-red-500 hover:text-red-700 text-xl"
                    ></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="appoinmentDetails.length === 0">
            <td
              colspan="6"
              class="px-4 text-center py-4 text-sm text-gray-700 dark:text-gray-700 whitespace-nowrap"
            >
              No prescriptions are available
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  }
</div>

<ng-template #noRecordsTemplate>
  <div
    class="flex flex-col items-center justify-center h-64 bg-gradient-to-r from-blue-100 to-blue-200 shadow-lg rounded-lg p-6"
  >
    <svg
      class="h-12 w-12 text-blue-500 mb-4"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 8v4l3 3m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <p class="text-xl font-bold text-gray-800">No medical records found!</p>
    <p class="mt-2 text-gray-700">Please add new records to see them here.</p>
    <button
      (click)="openUploadModal()"
      class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700 focus:outline-none"
    >
      Add Record
    </button>
  </div>
</ng-template>
